.MuiTab-root.Mui-selected {
  background-color: transparent !important;
  border-bottom: unset !important;
  text-transform: none !important;
  font-size: 18px !important;
}

.MuiTabs-indicator {
  background-color: unset !important;
}

.MuiTab-root {
  text-transform: none !important;
  color: #365473 !important;
}
