.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #000000;
  opacity: 0.5;
  z-index: 1;
  top: 0;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  opacity: 1;
  border-color: #3c5671 transparent #3c5671 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
