.statsContainer {
  width: fit-content;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 18.0188px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  .title {
    font-family: "Poppins" !important;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 27px;
  }

  .subtitle {
    font-family: "Poppins" !important;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    font-size: 18px;
    color: #000000;
  }
}
