.overviewHeading {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 48px !important;
  line-height: 72px;
  /* identical to box height */

  color: #000000;

  padding-top: 30px;
  padding-left: 10px;
}

.overviewSubtitle {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
  line-height: 22px;
  color: #979ca5;
  //   padding-top: 30px;
  padding-left: 14px;
  padding-bottom: 20px;
}

.suggestionHeading {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 36px;
  color: #121212;
  padding-left: 14px;
  padding-bottom: 10px;
}
