.container {
  padding: 30px;
}

.overviewHeading {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 48px !important;
  line-height: 72px;
  color: #000000;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overviewSubtitle {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
  line-height: 22px;
  color: #979ca5;
  //   padding-top: 30px;
  padding-left: 14px;
  padding-bottom: 20px;
}

.suggestionHeading {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 36px;
  color: #121212;
  padding-left: 14px;
  padding-bottom: 10px;
}

.noDataFound {
  font-size: 24px !important;
  padding-left: 15px;
  padding-top: 15px;
}

.searchTherapistField {
  width: 356px;
  height: 45px;
  padding-left: 15px;
  background: #ffffff;
  border-radius: 65px;
}

.searchTherapistField::before {
  border-bottom: none !important;
}

.searchTherapistField::after {
  border-bottom: none !important;
}

.fieldBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.notificationIcon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
