.patientProfileContainer {
  padding: 30px;
  //   height: 100%;
  background-color: #ebebeae5;

  .leftGrid {
    border-right: 2px solid #e7e7e7;
  }

  .searchField {
    width: 607.41px;
    height: 50.32px;
    padding-left: 15px;
    background: #fff;
    border-radius: 16.3861px;
  }

  .searchField::before {
    border-bottom: none !important;
  }

  .searchField::after {
    border-bottom: none !important;
  }

  .profileInfoBlock {
    padding: 20px;
    border-radius: 16px;
    background: #fff;

    .infoBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 138.964px;
      height: 144.675px;
      border-radius: 50%;
    }

    .title {
      color: #000;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
    }

    .subtitle {
      color: #000;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1.36px;
    }

    .fieldTitle {
      color: #a2a3a4;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
    }

    .overviewRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 30px;
    }

    .editProfileBtn {
      color: #3c5671;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 0px; /* 0% */
      letter-spacing: 1.36px;
      text-transform: capitalize;
      text-decoration-line: underline;
    }

    .overviewTitle {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
    }

    .fieldValue {
      color: #000;
      font-family: Poppins;
      font-size: 16.386px;
      font-weight: 500;
      padding-bottom: 20px;
    }

    .appointmentTitle {
      color: #00214e;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      padding-top: 15px;
      text-align: center;
    }

    .appointmentInfo {
      display: flex;
      justify-content: space-around;
      padding: 10px 15px;

      .title {
        color: #000;
        font-family: Poppins;
        font-size: 35px;
        font-weight: 600;
      }

      .subtitle {
        color: #a2a3a4;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
      }

      .verticalLine {
        background: #979ca580;
        width: 2px;
        border: none;
      }
    }
  }

  .heading {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
  }

  .seeAll {
    color: #6878b1;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
  }

  .appointmentListTitle {
    font-family: "Poppins" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24.5792px;
    line-height: 37px;
    color: #000000;

    padding-left: 70px;
    padding-top: 25px;
  }

  .notesSection {
    // margin-top: 30px;
    padding: 20px 50px;
    border-radius: 16px;
    background: #fff;
    // width: 350px;
    margin: 0px 20px 0px 0px;
    // height: 323px;

    .notesListingBlock {
      //   width: 295px;
      border-radius: 16px;
      padding: 10px 0px;
      line-height: 1.5;
      background: rgba(235, 235, 234, 0.5);
    }
  }

  .documentSection {
    padding: 20px 50px;
    border-radius: 16px;
    background: #fff;
    // width: 350px;
    // width: 500px;

    .fileBlockContainer {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    .documentBlock {
      border-radius: 16px;
      border: 1px solid rgba(235, 235, 234, 0.9);
      background: #fff;

      .fileBlock {
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        // margin-bottom: 10px;
      }

      .title {
        color: #a2a3a4;
        font-family: Poppins;
        font-size: 16.386px;
        font-weight: 600;
      }
    }
  }
}

.profileFields {
  width: 362px;
  height: 62px;
  padding-left: 12px;

  background: #ffffff;
  border-bottom: none !important;
  border: 1px solid #f0f0f0 !important;
}

.profileFields::before {
  border-bottom: none !important;
}

.profileFields::placeholder {
  font-size: 16px;
  color: #a3a3a3;
}

.profileFields:focus-visible {
  // padding-left: 12px;
  font-size: 16px;
  outline: none !important;
}

.mapAddressSearchField {
  width: 350px;
  padding-left: 12px;
}

.editPatientTitle {
  padding: 30px 50px;
  font-weight: bold;
  font-size: 34px;
}
