.MuiTableContainer-root {
  background-color: unset !important;
  box-shadow: none !important;
  // border-bottom: none !important;
}

.MuiTableCell-root {
  border-bottom: none !important;
}

.MuiTableCell-root {
  border-bottom: none !important;
}

th {
  border: none !important;
}
