.tabsContainer {
  background: #d9d9d9;
  width: 450px;
  border-radius: 20px;

  .tabsView {
    color: #000 !important;
    background: #f8f8f6;
    font-weight: bold;
    font-family: "Poppins";
    width: 48.5%;
    font-size: 18px;
  }
}
