.rateText {
  font-family: "Source Serif Pro" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.reviewField {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 10px !important;
}
