.appointmentInfoContainer {
  background: #ffffff;
  border-radius: 16.3861px;
  padding-bottom: 10px;
  border: 1px solid #e7e7e7;
}

.calenderTitle {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20.4827px !important;
  line-height: 31px;
  color: #000000;
  padding-left: 40px;
  padding-top: 15px;
}

.upcomingTitle {
  font-family: "Manrope" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20.4827px !important;
  line-height: 41px;
  color: #23262f;
  text-align: center;
}
