.startNowText {
  font-family: "Source Serif Pro" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.formGroupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-bottom: 30px;
}

.fieldsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  padding-top: 20px;
  .inputFields {
    background-color: #f7f8e2;
    border: 1px solid #f7f8e2 !important;
    width: 350.38px;
    height: 36.53px;
    border-radius: 5px;
    padding-left: 10px;
    // margin-bottom: 20px;

    &::before {
      border-bottom: none !important;
      border-radius: 10px;
      padding-left: 10px;
    }
  }
}
.bookNowBtn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.fileTextColor {
  color: #fff;
}
