.container {
  padding: 60px 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .actionBlock {
    height: 77px;
    border-radius: 21px;
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;

    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins;
    cursor: pointer;
  }
}

.mainHeading {
  color: #000;
  text-align: center;
  font-family: Poppins !important;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  letter-spacing: 0.48px;
  padding: 30px 20px;
}

.appointmentInfoContainer {
  padding: 20px 40px;

  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    padding-bottom: 5px;
    display: flex;
  }

  .value {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #000000a6;
    padding-bottom: 5px;
    text-transform: capitalize;
  }

  .reviewDetails {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  .verticalBar {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    height: 60%;
    position: absolute;
    left: -20px;
  }

  .appointmentIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
  }

  .notesBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .modalContainer {
    background: rgba(217, 217, 217, 0.67);
    backdrop-filter: blur(2px);
  }

  .editReportsIcon {
    width: 25px;
    cursor: pointer;
    padding-left: 10px;
  }
}

.dropdownBlock {
  width: 150px;
  padding-top: 20px;
}
