.notesContainer {
  //   background-color: #fff;
  //   padding: 32px;

  .headerRow {
    font-size: 24px;
    font-weight: 700;
    background-color: #3c5671;
    color: #fff;
    padding: 20px;
  }
}
