.tooltipContainer {
  width: 170px;
  border-radius: 10px;
  background: #e7e7e7;
  padding: 10px;
  position: absolute;
  right: 25px;
  z-index: 99999;

  .actionRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  img {
    width: 20px;
    height: 20px;
  }
}
