body {
  margin: 0;
  font-family: "Inter" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif !important;
}

.css-1sra7t5-MuiTypography-root {
  font-family: "Inter", sans-serif !important;
}

.css-ahj2mt-MuiTypography-root {
  font-family: "Inter", sans-serif !important;
}

.css-1ff8729-MuiInputBase-root-MuiFilledInput-root {
  background-color: #fff !important;
  border-bottom: #e0e0e0 !important;
}

.css-1e09ahn-MuiNativeSelect-select-MuiInputBase-input-MuiFilledInput-input {
  height: 50px;
}
.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.font-bold {
  font-weight: 600 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.messageSendField .MuiInputBase-root {
  border-radius: 10px;
  border: 1px solid #a5a6f6 !important;
}

.pb-12 {
  padding-bottom: 12px;
}

.p-relative {
  position: relative;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.ratingBox .MuiBox-root {
  color: #fff;
}

.searchTherapistField {
  width: 356px;
  height: 45px;
  padding-left: 15px;
  background: #ffffff;
  border-radius: 65px;
  bottom: 10px;
}

.searchTherapistField::before {
  border-bottom: none !important;
}

.searchTherapistField::after {
  border-bottom: none !important;
}

.float-right {
  float: right;
}

.text-end {
  text-align: end;
}
