.css-ag7rrr-MuiTypography-root {
  font-family: "Poppins" !important;
}

.root {
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins" !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
}

.title {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Poppins" !important;
}

.description {
  margin-bottom: 40px;
  font-family: "Poppins" !important;
}

.button {
  margin-top: 20px;
  font-family: "Inter" !important;
  text-transform: none !important;
}
